body, html {
    background-color: #242624;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  #topBar{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: #1a561f;
  }
  #botBar{
    position: absolute;
    botom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: #1a561f;
  }
  h1 {
    color: #242624;
    text-align: center;
  }
  li p{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;  
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
  }
  li a:visited {
    background-color: #2e9b37;
  }  
  li a:hover {
    background-color: #2e9b37;
  }
  li a.active {
    background-color: #2e9b37;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .isLink {
    position: relative;
    z-index: 2;
  }

  .right {
    float: right;
  }
  .left {
    float: left;
  }

  .postContent {
    position: relative;
    background-color: #858985;
    margin: auto;
    height: 300px;
    z-index:1;
    padding: 0px;
  }
  .content {
    position: relative;
    background-color: #858985;
    z-index:1;
    padding: 0px;
  }
  .centerText {
    transform: translateX(50%) translateY(50%)
  }
  #contentContainer{
    position: relative;
    margin: auto;
    top: 20px;
    width: 85%;
  } 
  #portfolio {
    height: 600px;
  }
  #about {
    background-color: #606360;
  }
  #contact {
    background-color: #606360;
    height: 500px;
  }