/*background: #fefefe;
darkgray: #456060;
testLightGray: #cdeded;
lightgray: #f0f7f7;
teal: #58d8d8;
lightteal: #aef8f8;
darkteal: #229494;
orange: #ffac68;
*/
body, html {
    background-color: #aef8f8;
    color: #ffac68;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
/*base color*/
  #topBar{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: #58d8d8;
  }
/*base color*/
  #botBar{
    position: absolute;
    botom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: #58d8d8;
  }
  h1 {
    color: base;
    text-align: center;
  }
  li p{
    display: block;
    color: accent;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;  
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
  }
  li a:visited {
    background-color: #2e9b37;
  }
/*accent*/  
  li a:hover {
    color: #ffac68;
  }
/*accent*/
  li a.active {
    color: #ffac68;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .isLink {
    position: relative;
    z-index: 2;
  }

  .right {
    float: right;
  }
  .left {
    float: left;
  }
/*dark gray*/
  .postContent {
    position: relative;
    background-color: #229494;
    margin: auto;
    height: 300px;
    z-index:1;
    padding: 0px;
  }
/*dark gray*/
  .content {
    position: relative;
    background-color: #229494;
    z-index:1;
    padding: 0px;
  }
  .centerText {
    transform: translateX(50%) translateY(50%)
  }
  #contentContainer{
    position: relative;
    margin: auto;
    top: 20px;
    width: 85%;
  } 
  #portfolio {
    height: 600px;
  }
/*  #about {
    background-color: #456060;
  }
  #contact {
    background-color: #456060;
    height: 500px;
  }*/