/*
darkgray: #325b67;
lightgray: #f3d7c9;
orange: #1423ff;
blue: #8714ff;
archived colors:
darkgray: #41415a;
lightgray: #f4f5fa;
blue: #1423ff;
purple: #8714ff;
teal: #58d8d8;
darkteal: #456060;
lightteal: #f0f7f7;
orange: #ffac68;
*/
:root {
    --background: #ffffff;
    --menus: #000000;
    --darkGray: #41415a;
    --lightGray: #c8d3d8;
    --base: #1423ff;
    --accent: #ffac68;
}
body, html {
    background-color: var(--background);
    color: var(--darkGray);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
/*base color*/
  #topBar{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: var(--menus);
  }
/*base color*/
  #botBar{
    position: relative;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: var(--menus);
  }
  h1 {
    color: var(--base);
    text-align: center;
  }

  .logo {
    color: #1423ff;
  }

  li p{
    display: block;
    color: var(--accent);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;  
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
  }
  li a:visited {
    background-color: #2e9b37;
  }
/*accent*/  
  li a:hover {
    color: var(--accent);
  }
/*accent*/
  li a.active {
    color: var(--accent);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .isLink {
    position: relative;
    z-index: 2;
  }

  .right {
    float: right;
  }
  .left {
    float: left;
  }
/*dark gray*/
  .postContent {
    position: relative;
    background-color: var(--background);
    margin: auto;
    height: 300px;
    z-index:1;
    padding: 0px;
  }
/*dark gray*/
  .content {
    position: relative;
    background-color: var(--background);
    z-index:1;
    padding: 0px;
  }
  .centerText {
    transform: translateX(50%) translateY(50%)
  }
  #contentContainer{
    position: relative;
    margin: auto;
    top: 20px;
    width: 85%;
    min-height: 100vh;
  } 
  #portfolio {
    height: 600px;
  }
  #contact {
    height: 500px;
  }
/*  #about {
    background-color: #456060;
  }
*/