---
---

$background: #ffffff;
$menus: #55443a;
$darkGray: #55443a;
$lightGray: #faf6f5;
$base: #ff9e3b;
$accent: #32a4c4;
$lightAccent: #05b2e3;
$red: #ff0000;

body, html {
    background-color: $background;
    color: $darkGray;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
/*base color*/
  #topBar{
    position: fixed;
    top: 0;
    width: 100%;
    color: $accent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: $base;
	
	&:li {
		color: $lightGray;
	}
  }
/*base color*/
  #botBar{
    position: relative;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background-color: $base;
  }

  .head {
    background-color: $base;
    color: white;
  }
  h1 {
    color: $base;
    text-align: center;
  }

  .logo {
    color: #1423ff;
  }
  
  li{
	&:link {
     color: $darkGray;
	}
	&:hover {
    color: $accent;
    }
	&:active {
    color: $lightAccent;
    }
  }
  
  .blogLink{
	&:link {
     color: $base;
	}
	&:visited {
    color: $darkGray;
    }
	&:hover {
    color: $accent;
    }
	&:active {
    color: $lightAccent;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	&:li {
		color: $darkGray;
		&:visited {
		color: $darkGray;
		}
		&:hover {
		color: $accent;
		}
		&:active {
		color: $lightAccent;
		}
	}
  }
  
  .isLink {
    position: relative;
    z-index: 2;
  }

  .right {
    float: right;
  }
  .left {
    float: left;
  }
  
  li{
	  &:p {
		display: block;
		color: $darkGray;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;  
	  }
	  
	  &:a{
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;    
	}
	
		&:a:visited {
		background-color: #2e9b37;
    }
	
		&:a:hover {
		color: $darkGray;
    }
	
		&:a.active {
		color: $accent;
    }
  }
  
/*dark gray*/
  .postContent {
    position: relative;
    background-color: $lightGray;
    margin: auto;
    height: 200px;
    z-index:1;
    padding: 0px;
  }
/*dark gray*/
  .content {
    position: relative;
    background-color: $lightGray;
    z-index:1;
    padding: 0px;
  }
  .centerText {
    transform: translateX(50%) translateY(50%)
  }
  #contentContainer{
    position: relative;
    margin: auto;
    top: 20px;
    width: 65%;
    min-height: 100vh;
    padding-bottom: 50px;
  } 
  #portfolio {
    height: 600px;
  }
  #contact {
    height: 500px;
  }
/*  #about {
    background-color: #456060;
  }
*/