<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}s</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
<ul id="topBar">
  <li style="float:left"><p>Welcome</p></li>
  <li><a href="#contact" id="contactB" class="right"> Contact</a></li>
  <li><a href="#portfolio" id="portfolioB" class="right"> Portfolio</a></li>
  <li><a href="#about"  id ="aboutB" class="active right"> About</a></li>
</ul>
    {{ content }}
<ul id="botBar">
  <li class="left"><p>Written in HTML, CSS, and Javascript</p></li>
  <li class="right"><a href="https://twitter.com/Gantrock">Twitter</a></li>
  <li class="right"><a href="https://github.com/Gantrock">Github</a></li>
  <li><a href="https://www.linkedin.com/in/gantrock/" style="float:right">Linkedin</a></li>
</ul>
  </body>
</html>
