<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}s</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
<ul id="topBar">
  <!-- Should be link from logo in live version -->
  <li class="liGroup logo"><a href="\blog">Home</a></li>
  <li class="liGroup"><a href="\about">About Us</a></li>
  <li class="liGroup"><a href="\blog">Blog</a></li>
  <li class="liGroup"><a href="\products">Products</a></li>
  <li class="liGroup"><a href="\contact">Contact Us</a></li>  
</ul>
<div id="contentContainer">
    {{ content }}
</div>
<footer id="botBar">
<ul>
  <li class="left"><p>Written in HTML, CSS, and Javascript</p></li>
  <li class="right"><a href="https://twitter.com/Gantrock">Twitter</a></li>
  <li class="right"><a href="https://github.com/Gantrock">Github</a></li>
  <li><a href="https://www.linkedin.com/in/gantrock/" style="float:right">Linkedin</a></li>
</ul>
</footer>
  </body>
</html>
